<html ng-app="woodside">

<head>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
</head>

<body ng-controller="woodsideController">
	<div class="new-sale">
		<div class="panel-container">
			<div class="panel">
				<span class="half">Total Amount</span>
				<span class="half">
					<input type="text" ng-model="newSale.original" placeholder="$"/>
				</span>

				<span class="user">{{user.name.first}} {{user.name.last}}</span>
			</div>
		</div>
	</div>

<!-- Grey thing -->
	<div class="sales" ng-repeat="sale in sales">
		<div class="panel-container">
			<div class="panel">
				<div class="header"><strong>{{sale.name}}</strong></div>
				<div class="balance"><span class="green">{{sale.balance}}</span>/{{sale.original}}</div>
			</div>
		</div>	
	</div>

	<div class="clearfix"/>

	<script type="text/javascript" src="js/index.js"></script>
</bodY>


</html>