<html ng-app="woodside">

<head>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/icons/css/font-awesome.min.css">
</head>

<body ng-controller="woodsideController">
	<div class="new-sale">
		<div class="panel-container">
			<div class="panel">
				<span class="half">Transaction</span>
				<span class="half">
					<div class="row">Total<input type="text" ng-model="newSale.original" placeholder="$" class="amount-input"/></div>
				</span>
				<div class='row'><span class="user"><u>{{user.name.first}} {{user.name.last}}</u> paid <input type="text" ng-model="newSale.original" size="5" placeholder="$" class="amount-input person-input"/></span></div>
				<div class='row'><span class="user">{{user.name.first}} {{user.name.last}}</span></div>
				<i class="fa fa-plus-square fa-lg"></i>
			</div>
		</div>
	</div>

<!-- Grey thing -->
	<div class="sales" ng-repeat="sale in sales">
		<div class="panel-container">
			<div class="panel">
				<div class="header"><strong>{{sale.name}}</strong></div>
				<div class="balance"><span class="green">{{sale.balance}}</span>/{{sale.original}}</div>
			</div>
		</div>	
	</div>

	<div class="clearfix"/>

	<script type="text/javascript" src="js/index.js"></script>
</bodY>


</html>